<!DOCTYPE html>
<html>
<head>
	<title>CRUD - browse</title>
</head>
<body>
	<h2>{{ title }}</h2>

	<div>
		<table align="center" border="1" width="50%">
			<tr>
				<th width="5%">#</th>
				<th width="5%">id</th>
				<th width="20%">name</th>
				<th width="48%">address</th>
				<th>action</th>
			</tr>

			{% if contacts %}
				{% for c in contacts %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ c.id }}</td>
						<td>{{ c.name }}</td>
						<td>{{ c.address }}</td>
						<td>
							<<a href="{{ url_for('show', id=c.id) }}">show</a>>
							<<a href="{{ url_for('update', id=c.id) }}">update</a>>
							<<a href="{{ url_for('delete', id=c.id) }}">delete</a>>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>

	<div>
		<a href="{{ url_for('index') }}"><< back</a>
	</div>
</body>
</html>