{% extends 'layout.html' %}

{% block content %}
	<div class="container-fluid">
		<form method="post" action="">
			<div class="form-group">
				<label form="name">name</label>
				<input class="form-control" placeholder="input your name here..." type="text" name="name">
			</div>

			<div class="form-group">
				<label form="address">address</label>
				<textarea name="address" class="form-control" placeholder="input your address here..."></textarea>
			</div>

			<button class="btn btn-success">insert</button>
			<a href="{{ url_for('browse') }}" class="btn btn-warning">browse</a>
		</form>
	</div>
{% endblock %}